html{
    background-image: url("howl.jpg");
}

canvas{
    padding: 0;
    margin: auto;
    display: block;
    outline: black solid 5px;
}

form{
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.box{
    height: 525px;
    width: 850px;
    margin: 175px auto;
    border: 5px solid black;
    border-radius: 25px;
    background-color: #edcb32;
    display: block;
}

.btn{
    height: 45px;
    width: 90px;
    margin: 15px auto;
    border: 5px solid #0c3804;
    border-radius: 5px;
    background-color: #15570a;
    cursor: pointer;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5dd982;
    text-align: center;
    font-size: 35px;
}

.btn:hover{
    background-color: #237814;
}

.submit{
    height: 55px;
    width: 125px;
    margin: 15px auto;
    border: 5px solid #0c3804;
    border-radius: 5px;
    background-color: #15570a;
    cursor: pointer;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #5dd982;
    text-align: center;
    font-size: 35px;
}

.submit:hover{
    background-color: #237814;
}

#help{
    font-size: 30px;
    padding: 25px 0px 75px 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title{
    font-size: 60px;
    padding: 25px 0px 0px 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}